<h3>Admin Page</h3>
<p>This is the example admin page.</p>
<div class="row">
  {{#link-to "admin.new"}}Add a dog {{/link-to}}
</div>
<div class="row">
  {{#link-to "admin.dogs"}}See all dogs{{/link-to}}
</div>
